.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999999;
  backdrop-filter: blur(5px);
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 900px) {
  .container {
    display: none;
  }
}

.linksHolder {
  display: flex;
  align-items: center;
  height: 50px;
}

.linksHolder li {
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0 8px;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.linksHolder li:hover {
  color: #f8c0f7; 
  transform: rotate(5deg) scale(1.1); 
}



.linksHolder li:hover {
  animation: bounce 0.5s ease-in-out; 
}


.leftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.socialHolder {
  width: 140px;
  align-items: center;
  justify-content: space-between;
}

.socialHolder img:hover {
  cursor: pointer;
  opacity: 0.8;
  transition-duration: 0.3s;
}

.button {
  background: #5865f2;
  border-radius: 12px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  width: auto;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  transition-duration: 0.3s;
  
}

.button:hover {
  opacity: 0.8;
  transition-duration: 0.3s;
}

.button span {
  margin-left: 10px;
}

.mobileMenu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .mobileMenu {
    display: block;
  }

  .mobileMenuContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 90%;
    margin: 0 auto;
  }
}


.mintButton {
  background: #b940ff; 
  padding: 10px 24px;
  border-radius: 20px;
  margin-right: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white; 
  border: 2px solid #dfeb73; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.mintButton:hover {
  transform: rotate(5deg) scale(1.1);
  background: #ebd7b3; 
}

/* Wobble animation */
@keyframes wobble {
  0%, 100% {
    transform: translateX(0);
  }
  20%, 60% {
    transform: translateX(-5px);
  }
  40%, 80% {
    transform: translateX(5px);
  }
}

/* Apply the wobble animation */
.mintButton:hover {
  animation: wobble 0.5s ease-in-out infinite alternate;
}
